.heroImg {
    width: 100vw;
    height: 40vh;
    background: url('../public/PHOTO-2021-09-02-09-32-01.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px;
    position: relative;
}