.container {
    width: 100vw;
}

.container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .landing {
        width: 80vw;
        height: 80vh;
        display: grid;
        top: 10vh;
        @media screen and (min-width: 320px) {
            height: 90vh;
        }
        .title {
            margin: 0;
            line-height: 1.15;
            font-size: 3rem;
            left: 10%;
            top: 0%;
            width: 40%;
            text-align: left;
            position: relative;
            color: #f5ad1d;
        }
        .description {
            line-height: 1.5;
            width: 70%;
            font-size: 1.5rem;
            font-weight: 300;
            position: relative;
            text-align: left;
            top: 0%;
            left: 10%;
            @media screen and (min-width: 900px) {
                width: 30%;
            }
        }
        #firstlottie {
            width: 250px;
            height: auto;
            left: 10%;
            top: 20%;
            @media screen and (min-width: 900px) {
                position: absolute;
                top: 20%;
                width: 500px;
                left: 50%;
            }
        }
        .btn-get-started {
            position: relative;
            left: 10%;
            top: 70%;
            height: 50px;
            padding-top: 8px;
            text-decoration: none;
            color: #000000;
            width: 150px;
            background: transparent;
            border-radius: 25px;
            border: 1px solid #000000;
            transition: .3s all cubic-bezier(.74, .22, .43, .95);
        }
        .btn-get-started a {
            text-decoration: none;
            color: #000000;
            width: 150px;
            background: transparent;
            transition: .3s all cubic-bezier(.74, .22, .43, .95);
        }
        .btn-get-started:hover {
            background: #f5ad1d;
            color: #ffffff;
            box-shadow: 10px 22px 52px 4px rgba(0, 0, 0, 0.32);
            border: #f5ad1d;
        }
        .tick-1 {
            position: relative;
            left: 10%;
            margin-top: 20%;
            @media screen and (min-width: 600px) {
                position: relative;
                left: 10%;
                margin-top: 10%;
            }
            @media screen and (min-width: 950px) {
                position: relative;
                left: 10%;
                margin-top: 8%;
            }
            @media screen and (min-width: 1400px) {
                position: relative;
                left: 10%;
                margin-top: 5%;
            }
        }
        .tick-2 {
            position: relative;
            left: 10%;
            margin-top: 2%;
        }
    }
    .info-section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: centre;
        top: 20vh;
        @media screen and (max-width: 320px) {
            top: 20vh;
        }
        .info-title {
            font-size: 3rem;
            height: 100px;
            left: 50%;
            top: 10%;
            text-align: center;
            transform: translate(-50%, -50%);
            position: relative;
        }
    }
    .banner-strip {
        width: 100vw;
        height: 20vh;
        top: 100vh;
        background: #f5ad1d;
        position: relative;
        @media screen and (max-width: 320px) {
            top: 160vh;
        }
    }
    .how-to-section {
        width: 80vw;
        height: fit-content;
        position: relative;
        top: 130vh;
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        flex-direction: row;
        align-content: center;
        @media screen and (max-width: 320px) {
            top: 100vh;
        }
        .inner-section-1 {
            position: relative;
            width: 100%;
            justify-content: space-around;
            height: 100%;
            .how-to-heading {
                font-size: 30px;
                color: #f5ad1d;
                text-align: left;
                position: relative;
                top: 10%;
                @media screen and (min-width: 320px) {
                    font-size: 25px;
                }
            }
            .how-to-title {
                text-align: left;
                width: 470px;
                position: relative;
                top: 10%;
                font-size: 30px;
                @media screen and (max-width: 530px) {
                    width: 80%;
                }
            }
            .how-to-info {
                line-height: 1.5;
                width: 70%;
                font-size: 1.5rem;
                font-weight: 300;
                position: relative;
                top: 15%;
                @media screen and (min-width: 900px) {
                    width: 30%;
                }
            }
            #secondlottie {
                width: 300px;
                height: auto;
                position: relative;
                top: 20%;
                @media screen and (min-width: 900px) {
                    position: absolute;
                    top: 20%;
                    width: 550px;
                    left: 50%;
                }
            }
        }
    }
    .course-section {
        width: 80vw;
        position: relative;
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-content: center;
        top: 150vh;
        @media screen and (min-width: 340px) {
            top: 150vh;
        }
        @media screen and (min-width: 600px) {
            top: 150vh;
        }
        .price-title {
            font-size: 3rem;
            position: relative;
            top: 10%;
            text-align: center;
            height: fit-content;
        }
        .price-description {
            height: fit-content;
            line-height: 1.5;
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
            top: 0%;
            position: relative;
        }
        .price-section {
            width: 100%;
            position: relative;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 50px;
            top: 20vh;
            margin-bottom: 20%;
            @media screen and (max-width: 1215px) {
                grid-template-columns: 1fr 1fr;
                top: 10vh;
            }
            @media screen and (max-width: 850px) {
                grid-template-columns: 1fr;
                top: 10vh;
            }
            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
                top: 10vh;
            }
            .PP {
                @media screen and (max-width: 1215px) {}
            }
            .SB,
            .BP,
            .PP {
                position: relative;
                text-align: center;
                padding: 1rem;
                height: 450px;
                max-height: 800px;
                max-width: 100%;
                border-radius: 18px;
                background-color: #ffffff;
                h2 {
                    margin-top: 10%;
                    margin-bottom: 10%;
                }
            }
        }
    }
}