.footer {
    width: 100vw;
    top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30vh;
    position: relative;
    .links-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .ul {
            position: relative;
        }
        .ul-1,
        .ul-2,
        .ul-3 {
            height: 100px;
            top: 20%;
            position: relative;
        }
        li {
            list-style: none;
            color: grey;
        }
    }
}