body,
html {
    background-color: rgb(249, 249, 249);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    white-space: pre-wrap;
    word-break: break-all;
}

p code {
    color: var(--secondary);
    font-weight: 600;
}

.active-sb {
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    color: #000;
}

.inactive-sb {
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    color: grey;
}

.logo {
    top: 0;
    left: 0%;
    width: 8%;
    height: 8%;
}

.btn-primary {
    color: #fff;
    background-color: #f5ad1d;
    border-color: #f5ad1d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c78e1c;
    border-color: #966d1a;
}

.router-link {
    cursor: pointer;
}

.nav-item.dropdown .dropdown-item {
    padding: 0;
}

.nav-item.dropdown .dropdown-item .router-link {
    width: 100%;
    padding: .55rem 1.5rem;
}

.nav-container {
    background: #f5f5f5;
    z-index: 1;
}

.navbar .router-link-exact-active {
    margin-bottom: -3px;
}

.result-block-container .result-block {
    opacity: 1;
}

.category-container {
    position: relative;
    width: 80%;
    top: 50%;
    display: grid;
    height: auto;
    .category-ul {
        list-style: none;
        width: 100%;
        height: 60%;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        flex-direction: row;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 800px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

.backDrop {
    width: 100vw;
    position: absolute;
    top: 10vh;
    z-index: -1;
    left: 0;
    height: 60%;
    background-color: #212121;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.tab-content {
    position: absolute;
    top: 40%;
}

.csr-classes {
    padding-top: 20px;
}

.category-container {
    position: relative;
    width: 80%;
    top: 50%;
    height: auto;
    .category-ul {
        list-style: none;
        width: 100%;
        height: 60%;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        flex-direction: row;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 800px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}